.content {
  display: flex;
  align-items: flex-end;
}

.searchbox {
  flex: 1;
  min-width: 30vw;
}

.searchbox input {
  width: 100%;
  font-family: Corpid, sans-serif;
  font-size: 14px;
  font-weight: bold;
  height: 38px;
  padding: 0.2em 1em;
  border: 4px solid black;
  border-left: none;
  color: black;
  outline: none;
}

.logo {
  padding: 1em;
  background-color: white;
  border: 4px solid black;
}
