.head {
  display: flex;
}

.head h1 {
  flex: 1;
}

.sort {
  cursor: pointer;
}
.sort :global(#asc) {
  fill: #949494;
}
.sort :global(#desc) {
  fill: #949494;
}

.asc :global(#asc) {
  fill: #000;
}

.asc :global(#desc) {
  fill: #949494;
}

.desc :global(#asc) {
  fill: #949494;
}

.desc :global(#desc) {
  fill: #000;
}

.content {
  border-left: 4px solid black;
  box-sizing: border-box;
  padding: 1em;
  text-align: center;
  overflow-x: hidden;
  overflow-y: scroll;
}

.contentEmpty {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.contentEmpty h1 {
  color: #949494;
}

.favoriteList {
  margin: 0;
  padding: 0;
  list-style: none;
}

.favorite {
  padding: 0.5em 0.3em;
  display: flex;
}

.favorite strong {
  margin-right: 20px;
}
