.mark {
  width: 35px;
  height: 35px;
  user-select: none;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

.mark svg {
  filter: drop-shadow(0px 2px 3px #fff);
}

.content {
  background-color: white;
  padding: 0.5em;
  border: 2px solid black;
  text-align: center;
  font-size: 1.3em;
  position: absolute;
  min-width: 250px;
  z-index: 1;
  transform: translate(-50%, -120%);
}

.head {
  margin-bottom: 1em;
  text-align: center;
  position: relative;
  padding: 0 1.5em 0 1em;
}

.head .close {
  position: absolute;
  top: 2px;
  right: 0;
  cursor: pointer;
}
