.controls {
  display: flex;
  margin: 1em;
}

.controls .placeName,
.controls .placeRating {
  font-family: Corpid, sans-serif;
  font-weight: 600;
  font-size: 0.9em;
  padding: 0.5em 0.3em;
  outline: none;
}

.placeName {
  flex: 1;
  border: 2px solid #000;
}

.placeRating {
  max-width: 50px;
  border: 2px solid #000;
  border-left: none;
}

.errorMessages {
  list-style: none;
  margin: 0 0 1em;
  padding: 0 1.2em;
  text-align: left;
  color: #b50202;
}
