@font-face {
  font-family: 'Corpid';
  src: url('/Corpid/Corpid-Light.eot');
  src: url('/Corpid/Corpid-Light.eot?#iefix') format('embedded-opentype'),
    url('/Corpid/Corpid-Light.woff2') format('woff2'),
    url('/Corpid/Corpid-Light.woff') format('woff'),
    url('/Corpid/Corpid-Light.ttf') format('truetype'),
    url('/Corpid/Corpid-Light.svg#Corpid-Regular') format('svg');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Corpid';
  src: url('/Corpid/Corpid-Regular.eot');
  src: url('/Corpid/Corpid-Regular.eot?#iefix') format('embedded-opentype'),
    url('/Corpid/Corpid-Regular.woff2') format('woff2'),
    url('/Corpid/Corpid-Regular.woff') format('font-woff'),
    url('/Corpid/Corpid-Regular.ttf') format('truetype'),
    url('/Corpid/Corpid-Regular.svg#Corpid-Regular') format('svg');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Corpid';
  src: url('/Corpid/Corpid-Bold.eot');
  src: url('/Corpid/Corpid-Bold.eot?#iefix') format('embedded-opentype'),
    url('/Corpid/Corpid-Bold.woff2') format('woff2'), url('/Corpid/Corpid-Bold.woff') format('woff'),
    url('/Corpid/Corpid-Bold.ttf') format('truetype'),
    url('/Corpid/Corpid-Bold.svg#Corpid-Bold') format('svg');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Corpid';
  src: url('/Corpid/Corpid-Heavy.eot');
  src: url('/Corpid/Corpid-Heavy.eot?#iefix') format('embedded-opentype'),
    url('/Corpid/Corpid-Heavy.woff2') format('woff2'),
    url('/Corpid/Corpid-Heavy.woff') format('woff'),
    url('/Corpid/Corpid-Heavy.ttf') format('truetype'),
    url('/Corpid/Corpid-Heavy.svg#Corpid-Heavy') format('svg');
  font-weight: 900;
  font-style: normal;
}
