@import url('fonts.css');

html,
body {
  font-family: Corpid, sans-serif;
  margin: 0;
  background-color: #ffffff;
}

html,
body,
#root {
  height: 100%;
}

h1,
h2 {
  margin-top: 0;
}

h1 {
  font-weight: 900;
}

.button {
  font-family: Corpid, sans-serif;
  font-weight: 900;
  text-transform: uppercase;
  padding: 0.3em 1.3em;
  background-color: #000;
  border: 2px solid #000;
  color: #fff;
  cursor: pointer;
  outline: none;
}

.button:hover {
  background-color: #fff;
  color: #000;
}
